:root {

  // Colors!
  --primary-bg-color: white;
  --secondary-bg-color: hsl(300, 60%, 42%);
  --accent-bg-color: #f0f2f5;

  --accent-border-color: hsl(216, 20%, 80%);

  --primary-text-color: hsl(0, 0%, 12%);
  --secondary-text-color: hsl(0, 0%, 25%);


  // Sizes!
  --border-radius: .5rem;
}