<div class='comment' id="<%= dom_id comment %>">
  <p>
    <strong><%= comment.user.name %>:</strong>
  </p>

  <p>
    <%= comment.content %>
  </p>
  <%# <strong>Reply to this:</strong> %>
  <%= render comment.comments %>
  <%#= turbo_frame_tag [comment, 'new_reply'] do %>
    <%#= render 'comments/form', comment: comment.replies.build %>
  <%# end %>
</div>
