<div class="text_form">
  <div class="text_form_text">
    <label style="display: none" for="comment_content">Content</label>
    <textarea disabled class="text_form_text_input" placeholder="Add a comment..." name="comment[content]" id="comment_content" style="height: 34px;"></textarea>
  </div>
  <div class="text_form_button">
    <input type="submit" name="commit" value="Create Comment" class="btn">
  </div>
</div>
