<p style="color: green"><%= notice %></p>

<h1>Comments</h1>
<%= turbo_frame_tag nested_dom_id(@commentable, 'comments') do %>
  <ul>
    <%= render @comments, commentable: @commentable %>
  </ul>
<% end %>