<h1>New comment</h1>
<%= turbo_frame_tag nested_dom_id(@commentable, @parent_id, 'new_comment') do %>
  <%= render "form", comment: @comment, commentable: @commentable, parent_id: @parent_id %>
<% end %>
<br>
<div>
  <%= link_to "Back", @commentable %>
</div>
