<% if @incoming_requests.present? %>
  <h1>Incoming Requests</h1>
  <div class="card">
    <ul>
      <% @incoming_requests.each do |request| %>
        <li><%= render request.requester %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if @outgoing_requests.present? %>
  <h1>Outgoing Requests</h1>
  <div class="card">
    <ul>
      <% @outgoing_requests.each do |request| %>
        <li><%= render request.receiver %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1>Current Friends</h1>
<%= turbo_frame_tag nested_dom_id(@user, 'friendships'), src: [@user, :friendships] %>