<h1>Incoming Requests</h1>
<ul>
  <% @incoming_requests.each do |request| %>
    <li><%= request.requester.name %></li>
  <% end %>
</ul>

<h1>Outgoing Requests</h1>
<ul>
  <% @outgoing_requests.each do |request| %>
    <li><%= request.receiver.name %></li>
  <% end %>
</ul>