header {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-bg-color);
  align-items: center;
  justify-content: space-around;
  grid-column: 1 / 4;

  @media (min-width:600px) {
    padding-block: 2rem;
    flex-direction: row;
  }

}