<%= link_to "#{user.first_name} #{user.last_name}", user %>
<% if current_user.active_friends.include?(user) %>
  <p>This is your friend!</p>
<% elsif current_user.pending_outgoing.include?(user) %>
  <p>You have already sent them a friend request</p>
<% elsif current_user.pending_incoming.include?(user) %>
  <p>Accept Friend?</p>
  <%# <%= render 'friendships/edit', friendship: Friendship.new, friend_id: user.id %> %>
<% else %>
  <p>Send a friend request</p>
  <%= render 'users/friendships/new', friendship: Friendship.new, user: user %>
<% end %>
<br>