<div class="card">
  <%= link_to "#{user.name}", user, class: 'link', data: {turbo_frame: '_top'} %>
  <div class="display_on_hover">
    <span class='display_on_hover_show link'>
      <%= link_to user, class: 'btn btn_dark', data: {turbo_frame: '_top'} do %>
        Already Friends <i class="fa-solid fa-user-check"></i>
      <% end %>
    </span>
    <div class="display_on_hover_hidden display_on_hover_hidden_overlap user_card">
      <%= render 'friendships/manage', user: user%>
    </div>
  </div>
</div>

