<h1>Users</h1>
<div class="card">
  <%== pagy_info(@pagy) %> <br>
    <ul>
      <% @users.each do |user|%>
        <li><%= render 'users/popup_link', user: user %></li>
      <% end %>
    </ul>
  <%== pagy_nav(@pagy) %>
</div>