<div class='options' data-controller='popup'>
  <button class="options_button btn btn_dark btn_circle"
       data-controller='button-click'
       data-popup-target='toggle'
       data-action='click->popup#togglePopup
                    mousedown->button-click#addClicked
                    mouseup->button-click#removeClicked
                    mouseout->button-click#removeClicked'>
    ...
  </button>
  <ul class='options_menu hidden' data-popup-target='popup' data-action='click@window->popup#closeBackground focusout->popup#closePopupDelayed' >
    <li><%= link_to 'Show', object, data: {turbo_frame: '_top'}, class: 'btn btn_dark'%></li>
    <% if current_user == object.user %>
      <li><%= link_to "Edit", [:edit, object], class: 'btn btn_dark' %></li>
      <li><%= button_to "Delete", object, method: :delete, class: 'btn btn_dark' %></li>
    <% end %>
  </ul>
</div>
