<div class="display_on_hover">
  <span class='display_on_hover_show link detail' tabindex='0'>
    <%= time_ago_in_words(object.created_at) %>
  </span>
  <div class="display_on_hover_hidden info_card">
    <%= object.created_at.to_fs(:custom) %>
  </div>
</div>