<% case current_user.friend_status(user) %>
<% when 'active' %>
  <p>This is your friend!</p>
<% when 'outgoing' %>
  <p>You have already sent them a friend request</p>
<% when 'incoming' %>
  <p>Accept Friend?</p>
  <%= link_to 'Accept Friend', [:edit, user.find_friendship(current_user)] %>
<% when 'none' %>
  <p>Send a friend request</p>
  <%= link_to 'Send a Friend Request', new_user_friendship_path(user) %>
<% end %>