<h2><%= @user.name %>'s Friends</h2>
<%= turbo_frame_tag nested_dom_id(@user, 'friendships') do %>
  <div class="card">
    <ul>
      <li>
        <%= render partial: 'users/popup_link', collection: @friends, as: :user, spacer_template: 'shared/spacer/list' %>
      </li>

    </ul>
  </div>
<% end %>
