
<div class="card">
  <h1>Welcome to SpaceBook</h1>
  <p>Sign up to explore the site.
    <br>
    <span class="detail">You will be sent one email upon successfull sign-up.</span>
  </p>
  <h2>Planned Features</h2>
  <ul>
    <li>Nested comments for replies</li>
    <li>Tabbed content on profiles</li>
    <li>Image uploads for posts</li>
    <li>Image uploads for user avatars</li>
    <li>Notifications</li>
    <li>Updating Timestamps without page refresh</li>
    <li>Dark Mode</li>
    <li>More animated touches</li>
    <li>User Search</li>
    <li>User Profile Info</li>
    <li>Different Reaction Types</li>
    <li>Updating content without page refresh</li>
    <li>Messaging</li>
  </ul>
</div>

<div class="card">
  <a target="_blank" href="https://icons8.com/icon/18519/galaxy">Galaxy</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
</div>