<div class="text_form">
  <div class="text_form_text">
    <label style="display: none" for="post_content">Content</label>
    <textarea disabled class="text_form_text_input" placeholder="What's on your mind?" name="post[content]" id="post_content" style="height: 35px;"></textarea>
  </div>
  <div class="text_form_button">
    <button type="submit" name="commit" value="Create Post" class="btn btn_circle" aria-label='submit'>
    <i class="fa-solid fa-paper-plane"></i>
    </button>
  </div>
</div>
