.comment {
  list-style-type: none;

  &_wrapper{
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  &_content {
    min-width: 40%;
    width: 100%;
    overflow-wrap: break-word;
    background-color: var(--accent-bg-color);
    border-radius: var(--border-radius);
    padding: .5rem;
  }

  &_reactions {
    display: flex;
    gap: .5rem;

  }


}