.flash{
  position: fixed;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  z-index: 3;

  &_message {
    padding: .5rem 1rem;
    border-radius: 1rem;
    margin: .5rem;
    background-color: hsl(0, 0%, 11%);
    color: white;
    animation-duration: 3s;
    animation-name: slide-in-fade-out;
  }
}

.error {
  background-color: rgb(247, 194, 194);
}

@keyframes slide-in-fade-out {
  0% {
    opacity: 0;
    transform: translateY(-250%);
  }

  15% {
    opacity: 80%;
    transform: translateY(0%);
  }

  75% {
    opacity: 80%;
  }

  100% {
    opacity: 0%;
  }
}