.flash{
  position: fixed;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  z-index: 3;

  &_message {
    background-color: var(--accent-bg-color-dark);
    animation-duration: 3s;
    animation-name: slide-in-fade-out;
  }
}

@keyframes slide-in-fade-out {
  0% {
    opacity: 0;
    transform: translateY(-250%);
  }

  10% {
    opacity: 100%;
    transform: translateY(0%);
  }

  90% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}