.display_on_hover {
  position: relative;
  width: fit-content;

  &_hidden{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 1rem;
    background-color: hsla(0, 0%, 20%, 0.848);
    color: white;
    width: max-content;
    z-index: 2;

    &:hover,
    &:focus-within {
      display: inline;
    }

    &_overlap {
      top: auto;
      bottom: 80%;
    }
  }


  &:hover > &_hidden,
  &:focus-within > &_hidden {
    display: inline;
  }
}