.display_on_hover {
  position: relative;
  width: fit-content;

  &_hidden{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: var(--wider-spacing);
    background-color: var(--dark-bg-color);
    color: var(--dark-bg-text-color);
    width: max-content;
    z-index: 2;
    border-radius: var(--border-radius);

    &:hover,
    &:focus-within {
      display: inline;
    }

    &_overlap {
      top: auto;
      bottom: 80%;
    }
  }


  &:hover > &_hidden,
  &:focus-within > &_hidden {
    display: inline;
  }
}