.options {
  position: relative;

  &_menu {
    position: absolute;
    right: 0;
    width: 12rem;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .15);
    background-color: var(--primary-bg-color);
    border-radius: var(--border-radius);
    z-index: 1;
    padding: .5rem;
    list-style: none;

    & > li > * {
      width: 100%;
    }

    & >*::after {
      content: "";
      display: block;
      border-bottom: 1px solid #CCC;
      margin-block: .5rem;
    }

    & >*:last-child::after {
      display: none;
    }
  }
}