.post {
  &_header,
  &_stats {
    display: flex;
    justify-content: space-between;
  }

  &_interaction {
    padding: .3rem 0;
    display: flex;
    border-top: solid 1px var(--accent-border-color);
    border-bottom: solid 1px var(--accent-border-color);
    margin-block: .5rem;
    gap: .5rem;

    & * {
      width: 100%;
    }
  }
}