.post {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .10);
  max-width: 40rem;
  background-color: var(--primary-bg-color);
  padding: .2rem .5rem;
  margin: 1rem auto;
  border-radius: var(--border-radius);

  @media (max-width: 600px) {
    margin-inline: 0;
  }

  &_header,
  &_stats {
    display: flex;
    justify-content: space-between;
  }

  &_interaction {
    padding: .3rem 0;
    display: flex;
    border-top: solid 1px var(--accent-border-color);
    border-bottom: solid 1px var(--accent-border-color);
    margin-block: .5rem;

    & * {
      width: 100%;
    }
  }
}