.text_form{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--small-space);
  margin-top: var(--small-space);
  margin-bottom: var(--small-space);

  &_text {
    flex-grow: 1;

    &_input {
    border-radius: var(--border-radius);
    border: none;
    border-radius: var(--border-radius-severe);
    background-color: var(--accent-bg-color);
    resize: none;
    height: 2rem;
    padding: var(--small-space);
    width: 100%;
    flex-basis: fit-content;

      &:hover{
        background-color: var(--accent-bg-color-dark);
      }
   }

  }
}