.new_user,
.edit_user {
  display: flex;
  flex-direction: column;
  gap: var(--average-space);
  padding: var(--average-space);

  & input {
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--accent-bg-color);
    resize: none;
    height: 2rem;
    padding: var(--wider-spacing);
    width: auto;
    flex-basis: fit-content;

    &[type='checkbox']{
      transform: translateY(25%);
    }



    &:hover{
      background-color: var(--accent-bg-color-dark);
    }
  }
}
